* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400px;
  background-color: #f6f8f9;
}

header {
  height: 80px;
  background-color: white;
  margin-bottom: 60px;
}

main div {
  margin: 30px;
}

/* header */

h1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 40px;
  margin-top: 15px;
}

header .logo img {
  vertical-align: middle;
  margin-top: 20px;
  margin-left: 20px;
}
/* /header */

/* button */

.container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  padding-left: 60px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 10px;
  border: 10px;
}

.button {
  display: inline-block;
  max-height: 50px;
  padding: 10px;
  margin: 3px;
  border: 2.5px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.button span {
  text-align: center;
}

.button#add-task {
  background-color: #47adf1;
  color: white;
}

.button#add-section {
  padding: 8px;
  border-color: #d6dade;
  color: #d6dade;
  border-width: 2px;
  border-style: solid;
}

hr#line {
  border: 2px solid #f6f8f9;
  margin-left: -100px;
  margin-bottom: 40px;
}

/* /button */

/* task */

.circle {
  display: inline-block;
  height: 15px;
  width: 15px;
  text-align: center;
  border-radius: 50%;
  border: 1px;
  border-style: solid;
  font-size: 10px;
  margin-right: 10px;
  margin: 15 px;
}

.circle#check {
  border-color: green;
  color: green;
}

.circle#cross {
  border-color: red;
  color: red;
}

/* /task */

/* label */
.label {
  color: white;
  display: inline-block;
  text-align: center;
  width: 80px;
  padding: 6px;
  margin: 5px;
  border-radius: 13px;
  font-size: 14px;
  font-weight: 600px;
}

.label#editorial {
  background-color: #45abea;
}
/* /label */